<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <welcome-file-list>
        <welcome-file>shop.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>main-serv</servlet-name>
        <servlet-class>anton.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temp-serv</servlet-name>
        <servlet-class>anton.JspServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>temp-serv</servlet-name>
        <url-pattern>/temp-serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main-serv</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsp-servlet</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp-servlet</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FormFilter</filter-name>
        <filter-class>anton.FormFilter</filter-class>
        <init-param>
            <param-name>LogFileName</param-name>
            <param-value>UserLog.txt</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ShopFilter</filter-name>
        <filter-class>anton.ShopFilter</filter-class>
        <init-param>
            <param-name>LogFileName</param-name>
            <param-value>UserLog.txt</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ShopFilter</filter-name>
        <url-pattern>/first-jsp.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FormFilter</filter-name>
        <url-pattern>/temp-serv</url-pattern>
    </filter-mapping>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/405.html</location>
    </error-page>
</web-app>

